body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

section {
  background-color: salmon;
  padding: 2rem;
}

article {
  background: yellow;
  padding: 2rem;
}

p {
  background-color: cadetblue;
  padding: 2rem;
}
